[Desktop Entry]
Name=海天鹰看图
Comment=
Exec=/media/sonichy/job/HY/Linux/Qt/HTYGIFPlayer/HTYGIFPlayer %u
Icon=/media/sonichy/job/HY/Linux/Qt/HTYGIFPlayer/icon.png
Path=/media/sonichy/job/HY/Linux/Qt/HTYGIFPlayer
Terminal=false
Type=Application
MimeType=image/gif;
Categories=Graphics;
